<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005332675252-s8om501vk14ei1ndet03ifd4ph8vgivc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005332675252-s8om501vk14ei1ndet03ifd4ph8vgivc</string>
	<key>API_KEY</key>
	<string>AIzaSyCNXKgD40RSYkMm8ZnKFdTh_yMOxdl8uU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1005332675252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hy99ee.LuckyLunch</string>
	<key>PROJECT_ID</key>
	<string>luckylunch-hy99ee</string>
	<key>STORAGE_BUCKET</key>
	<string>luckylunch-hy99ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005332675252:ios:c0b31d50d668bb0009f5e1</string>
</dict>
</plist>